#root{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.carousel-body{
    display: flex;
    flex-direction: row;
    overflow-x: scroll;
    height: 120px;
    width: 100%;
    border-radius: 8px;
    scroll-behavior: smooth;
    justify-content: center;
    flex: 1;
    scrollbar-width: none;      /* to hide scrollbar in Firefox */
    z-index: 1;
    position: relative;
    opacity: 1;
}

.carousel-body::-webkit-scrollbar {
    display: none;
}

.img{
    padding: 16px;
}

.avatar-profile-image{
    width:100px;
    height: 100px;
    border-radius: 50%;
    margin: 3px;
    border: 3px solid white;
}

.avatar-profile-image:hover{
    border: 3px solid #0095f6;
    cursor: pointer;
}

.story-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    margin: 0px;
    padding: 60px 0px;
    width: 100%;

}

.close-icon-container{
    position: absolute;
    top: 20px;
    right: 700px;
    z-index: 1000;
    cursor: pointer;

}


.arrow-icon-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    position: absolute;
    top: 50%;
    z-index: 2;
    padding: 0;
    margin: 0;
}

.next-arrow{
    margin-right: 32%;
}

.prev-arrow{
    margin-left: 32%;
}


.arrow-icon:hover{
    cursor: pointer;
}

@media screen and (max-width: 1200px) {

    .next-arrow{
        margin-right: 20%;
    }

    .prev-arrow{
        margin-left: 20%;
    }
    
    .close-icon-container{
        top: 20px;
        right: 360px;
    }

    .story-container{
        margin: 0;
    }
}

@media screen and (max-width: 1000px) {
    .avatar-profile-image{
        width: 100px;
        height: 100px;
    }

    .next-arrow{
        margin-right: 12%;
    }

    .prev-arrow{
        margin-left: 12%;
    }

    .close-icon-container{
        top: 20px;
        right: 260px;
    }
    .close-icon:hover{
        cursor: pointer;
    }

    .story-container{
        margin: 0;
    }
}

@media screen and (max-width: 600px) {
    .avatar-profile-image{
        width: 80px;
        height: 80px;
    }

    .next-arrow{
        margin-right: 8%;
    }

    .prev-arrow{
        margin-left: 8%;
    }

    .close-icon-container{
        top: 20px;
        right: 60px;
    }
    .close-icon:hover{
        cursor: pointer;
    }

    .story-container{
        margin: 0;
    }
}


@media screen and (max-width: 480px){
    .avatar-profile-image{
        width: 60px;
        height: 60px;
    }

    .arrow-icon-container{
        display: none;
    }

    .close-icon-container{
        top: 40px;
        right: 72px;
    }
    .close-icon:hover{
        cursor: pointer;
    }

    .story-container{
        margin: 0;
        padding: 20px 0;
    }
}


@media screen and (max-width: 360px){
    .avatar-profile-image{
        width: 50px;
        height: 50px;
    }

    .arrow-icon-container{
        display: none;
    }

    .close-icon-container{
        top: 36px;
        right: 8px;
    }
    .close-icon:hover{
        cursor: pointer;
    }

    .story-container{
        margin: 0;
        padding: 0;
        padding: 20px 0;
    }
}
    
